@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-heading: 'Oswald', sans-serif;
  --font-text: 'Inter Tight', sans-serif;

  --color-brand-blue: #4148fe;
  --color-brand-brown: #331307;
  --color-brand-orange: #ff6f40;
  --color-brand-yellow: #fedf41;
  --color-brand-cream: #ebebeb;
}

@layer components {

}
